@model List<ResultCommentDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Default/Index.cshtml";
}

<div class="pagetitle">
	<h3>Yorumlar</h3>
</div>

@{
	int count = 0;
}

<table class="table table-bordered table-hover">
	<tr>
		<th>#</th>
		<th>Blog Id</th>
		<th>Yorum Yapan</th>
		<th>Yorum İçeriği</th>
		<th>Yorum Durumu</th>
		<th>İşlemler</th>
	</tr>

	@foreach (var item in Model)
	{
		count++;
		<tr>
			<th>@count</th>
			<td>@item.Blog.Title</td>
			<td>@item.User.FullName</td>
			<td>@item.Content</td>
			<td>@item.CommentStatus</td>
			<td>
				<a href="/Admin/Comment/DeleteComment/@item.Id" class="btn btn-outline-danger">Sil</a>
				<a href="/Admin/Comment/UpdateComment/@item.Id" class="btn btn-outline-info">Güncelle</a>
				<a href="/Admin/Comment/CommentStatusChangeToActive/@item.Id" class="btn btn-outline-primary">Aktif Yap</a>
				<a href="/Admin/Comment/CommentStatusChangeToPassive/@item.Id" class="btn btn-outline-warning">Pasif Yap</a>
				<a href="/Admin/Comment/CommentStatusChangeToToxic/@item.Id" class="btn btn-outline-danger">Toksik Yorum</a>
			</td>
		</tr>
	}
</table>
<a href="/Admin/Comment/CreateComment" class="btn btn-outline-primary">Yeni Yorum Oluştur</a>