@model List<ResultBlogDto>

@{
	ViewData["Title"] = "GetBlogsByCategory";
	Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="section search-result-wrap">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="heading">Kategori: @ViewBag.categoryName</div>
			</div>
		</div>
		<div class="row posts-entry">
			<div class="col-lg-8">

				@foreach (var item in Model)
				{
					<div class="blog-entry d-flex blog-entry-search-item">
						<a href="#" class="img-link me-4">
							<img src="@item.CoverImage" alt="Image" class="img-fluid">
						</a>
						<div>
							<span class="date">@item.CreatedDate.ToShortDateString() &bullet; <a href="#"> @ViewBag.categoryName</a></span>
							<h2><a href="#">@item.Title</a></h2>
							<p>@(item.Description.Length < 100 ? item.Description : item.Description.Substring(0, 100) + "...")</p>
							<p><a href="/Blog/BlogDetails/@item.Id" class="btn btn-sm btn-outline-primary">Devamını Oku</a></p>
						</div>
					</div>
				}

			</div>

			<div class="col-lg-4 sidebar">

				<div class="sidebar-box search-form-wrap mb-4">
					<form action="#" class="sidebar-search-form">
						<span class="bi-search"></span>
						<input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
					</form>
				</div>


				@await Component.InvokeAsync("_BlogsByCategoryLatestBlogsComponent")

				@await Component.InvokeAsync("_CategoryWithCount")

			</div>
		</div>
	</div>
</div>
